* { margin: 0; padding: 0; }

.logo-container {
    display: flex;
    position: absolute;
    top: 0; 
    left: 175px;
}

.logo {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.menu {
    display: flex;
    justify-content: right; /* Centraliza o menu horizontalmente */
    padding: 10px 0; /* Espaço ao redor do menu */
}

.menu ul {
    list-style: none; /* Remove os marcadores de lista */
    padding: 45px;
    margin: 0;
    display: flex; /* Organiza os itens da lista em uma linha */
}

.menu li {
    margin-right: 300px; /* Espaço entre os itens do menu */
}

.menu a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #363636; /* Cor do texto dos links */
    font-family: 'Montserrat', sans-serif;
    font-size: 20px; /* Tamanho da fonte */
    transition: color 0.3s; /* Transição suave para mudanças de cor */
}

.menu a:hover {
    color: #000000; /* Cor do link quando passar o mouse por cima */
}

.linha-separadora {
    height: 1px; /* Altura da linha */
    background-color: #000;
    margin-top: 5px;
}

.fundo-embaixo {
    background-color: #fafcc0; /* Cor do fundo abaixo da linha */
    padding: 10px; /* Espaçamento interno */
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #363636;    
    margin-top: 5px;
}

.slides {
    padding: 15px;
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    margin-top: 5px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.slides input {
    display: none;
}

.slide-container {
    display: block;
}

.slide {
    top: 0;
    opacity: 0;
    width: 400px;
    height: 400px;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 500px;
    height: 100%;
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: #fff;
    font-size: 18px;
    text-align: center;

}

.slide:hover + .nav label {
    opacity: 0.5s;
}

.nav label:hover {
    opacity: 1;
}

.nav .next {
    right: 0;
}

input:checked + .slide-container .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ;
}

input:checked + .slide-container .nav label {
    display: block;
}

.biquini {
    width: 400px;
    height: 400px;
    margin-top: 10px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0 185px;
    gap: 50px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    color: #363636; 
    font-size: 25px;   
    margin-top: 10px;
}

.mapa {
    display: flex;
    padding: 0 420px;
    margin-top: 10px;
    width: 600px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-inferior {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #fff;
	text-decoration: none;
}

.bloco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 150px;

}
.video {
    width: 600px; 
}

.lista {
    padding: 18px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    color: #363636; 
    font-size: 25px;  
}

.tabela, th, td {
    border-collapse: collapse; /*define a separação entre as bordar*/
    padding: 10px;
    text-align: left;
    border: 1px solid #333;
    /* background-color: #f8f8f8; */
    margin: 10px 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.img-jogo {
    width: 450px;
    height: 100%;
    display: flex;
    padding: 0 500px;
    margin-top: 10px;
}


label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }

.box, select {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 10px;
  }
 
.submit {
    background-color: #013622;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }  